.contactContainer {
    display: flex;
}

.contactLabel {
    font-weight: bold;
}

.contactValue {
    font-weight: 100;
}

.contactIconButton svg {
    color: var(--white-color);
}

.contactIconButton {
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    padding: 20px;
    margin: 10px;
    border-radius: 50%;
}

.contactIconButton:hover,
.contactIconButton:active {
    background-color: var(--primary-light-color);
    box-shadow: var(--shadow-hover);
}

.contactIconButton:active {
    box-shadow: var(--shadow-click);
}