.regularButton,
.swal2-confirm.swal2-styled {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: var(--padding-sm);
}

.regularButton:disabled,
.swal2-confirm.swal2-styled:disabled {
    background-color: transparent;
    color: var(--primary-light-color);
    border: 1px solid var(--primary-light-color);
}

.regularButton:hover,
.swal2-confirm.swal2-styled:hover {
    background-color: var(--primary-light-color);
    box-shadow: var(--shadow-hover);
}

.swal2-confirm.swal2-styled:active {
    box-shadow: var(--shadow-click);
}